@model VodManageSystem.Models.DataModels.Song

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongNa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SongNa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SNumWord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SNumWord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumFw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumFw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumPw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Singer1Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Singer1Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Singer2Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Singer2Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeleTf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeleTf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NMpeg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NMpeg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MMpeg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MMpeg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VodYn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VodYn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VodNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VodNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pathname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pathname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrdNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrdNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrdOldN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrdOldN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SongNo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
